
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Lato:ital,wght@1,300&family=Oswald&family=Poppins:wght@300&display=swap');

.App{
  margin: 0;
  top: 0;
  font-family: 'David Libre', serif;
/* font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */
}